//  color
$gray:rgba(0, 0, 0, 0.527);
$yellow:#ffbb00;
$black:rgb(0, 0, 0);
$red:rgb(255, 0, 0);
$white:#ffffff;
$silver:rgb(192, 192, 192);
$green:rgb(0, 128, 0);
$aqua:rgb(0, 255, 255);
$teal:rgb(0, 128, 128);
$blue:rgb(0, 0, 255);
$navy:rgb(0, 0, 128);
$fuchsia:rgb(255, 0, 255);
$purple:rgb(128, 0, 128);
$orange:rgb(255, 128, 0);
$color_border_input:#dcdcdcdb;