@import '../../../varibale/color.scss';
@import '../../../varibale/size.scss';
.app-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
footer{
    width: 100%;
    height: 270px   ;
    background-color: $yellow;
    display: flex;
    direction: ltr;
    margin-top: 0px;
}
.menu-footer{
    width: 65%;
    height: 100%;
 
}
.namad-etemad{
    width: 35%;
    background-color: $yellow;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.list-footer-box{
    display: flex;
    justify-content: flex-end;
    margin-right: 55px;
    height: 70%;
    align-items: center;
}
.list-footer{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    direction: rtl;
}
.network{
    height: 30%;
    background-color: $yellow;
        display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 290px;
}
.logo-img-network{
    width: 30px;
    height: 30px;
}
.logo-network{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.logo-arka-car{
    height: 50px;
}
.namad{
    width: 90px;
    height: 90px;
    margin-left: 20px;
}

