@import '../../../varibale/color.scss';
@import '../../../varibale/size.scss';
// style box input page3
.box-input-level3{
    display: flex;
    width: 21%;
    flex-direction: column;
    justify-content: center;
}
// style box input link
.box-input-link{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
}
// style file input
.file-input {
    display: none;
  }
 // style img upload
  .image-upload{
      display: flex;
      border-radius: 5px;
      justify-content: space-between;
      align-items: center;
      padding: 9px;
    width: 272px;
    border: 0.5px solid $color_border_input;
text-align: center;
  }
// style text input upload
  #text-input-upload{
      font-size: 10px;
      margin-right: 9px;
      color: rgba(194, 194, 194, 0.63);
  }
  // style img folder
  .img-folder{
      width: 20px;
      height: 20px;
      margin-left: 10px;
  }
  // style box img upload
  .box-img-upload{
    width: 100%;
    direction: rtl;
    margin-top: 10px;
  }
  // style title img upload
  .title-img-upload{
      margin: 0%;
      font-size: 13px;
      margin-bottom: 7px;
  }
  // style img folder hover
  .img-folder:hover{
      cursor: pointer;
  }
  // style box submit register
  .box-submit-register{
    margin-top: 20px !important;
    width: 92%;
    display: flex;
    justify-content: center;
}
// style resvansive
  @media only screen and (max-width: 653px) {
      // style box input page3
      .box-input-level3{
          width: 81%;
      }
      // style image upload
      .image-upload{
          width: 100%;
          padding: 3px !important;
      }
      // style box text register comleted
      #box-text-register-completed {
font-size: 10px !important;
width: 235px !important;
height: 204px !important;
      }
      // style title img upload
      .title-img-upload{
          font-size: 9px;
      }
      //end resvansive
  }
  
